@charset "UTF-8";

/*
=====================================
  BASE STYLES. APPLIED TO ALL DEVICES
=====================================
*/

body header{
  text-align: center;

}

body header h1{
  font-size: 2.5em;
  padding-top: 1.5%;
}

body header p{
  font-size: 1.8em;
}

.links{
  font-size: 2em;
  line-height: 2.5em;
}

footer{
  padding-top: 10%;
}

/*
=====================================
  MOBILE STYLES (max-width: 480px)
=====================================
*/

@media only screen and (max-width: 480px){
  body header p{
    display: none;
  }

  .links{
    padding-top: 40%;
    font-size: 1.8em;
  }
}

/*
=====================================
  DESKTOP STYLES (min-width: 481px)
=====================================
*/

@media only screen and (min-width: 481px){

  .links{
    display: block;
    margin: auto;
    text-decoration: none;
  }

}
