/*
   New Perspectives on HTML and CSS, 7th Edition
   Tutorial 6
   Case Problem 4

   Schedule Table Style Sheet
   Author: Steven Thompson & Travis A
   Date:   November 28, 2018

   Filename:         hcc_schedule.css
   Supporting Files: 

*/

    
    .timeCol {
        background-color: rgb(194, 198, 137);
    }
        
    
    .availTable thead th{
        background-color: rgb(150, 19, 38);
    }
    
    .availTable thead th:first-of-type{
        width: 12%;
        background-color: rgb(34, 107, 96);
    }
    
    tfoot td{
        background-color: black;
        text-align: left;
        color: white;
    }
    
    /*
    ===============================
    Mobile Styles: 0px to 640px 
    ===============================
    */
    
@media only screen and (max-width: 640px){
    
    table, tbody, tr, td, th, caption{
        display: block;
    }
    
    thead, h1, tfoot{
        display: none;
    }
    
    table caption{
        color: white;
        background-color: rgb(145, 147, 150);
        font-size: 1.5em;
        line-height: 2em;
    }
    
    td{
        border: 1px dotted gray;
        color: rgb(11, 12, 145);
        position: relative;
        padding-left: 40%;
        min-height: 40px;
        
    }
    
    tr{
        background-color: rgb(255, 235, 178);
        border: 2px solid gray;
    }
      
}

/* =============================================
   Tablet and Desktop Styles: greater than 640px
   =============================================
*/

@media only screen and (min-width: 641px){
    
    table{
        border: 6px double rgb(154, 64, 3);
        border-collapse: collapse;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        table-layout: fixed;
        width: 85%;
    }
    
    th, td{
        border: 1px solid gray;
        font-size: .85em;
        font-weight: normal;
        padding: 5px;
        vertical-align: center;
        width: 14.28%;
        word-wrap: normal;
        text-align: center;
    }
    
    td{
        background: rgba(171, 171, 171, 0.6);
        color: rgb(11, 12, 145);
    }
    
    table caption{
        vertical-align: top;
        text-align: center;
        padding-bottom: 10px;
        font-size: 1.2em;
        letter-spacing: 3px;
    }
    
    thead th{
        background-color: rgb(154, 64, 3);
        color: white;
    }
}

