@charset "UTF-8";

/*
=====================================
  BASE STYLES. APPLIED TO ALL DEVICES
=====================================
*/

a{
  color: rgb(0, 0, 220);
}

.introduction{
  text-align: center;

}

table, th, td{
  margin: auto;
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
}

.education caption{
  text-align: center;
  font-size: 2.4em;
}

.education{
  max-width: 80%;
}

th, td{
  font-size: 2em;
  padding-left: .5%;
}

/*
=====================================
  MOBILE STYLES (max-width: 480px)
=====================================
*/

@media only screen and (max-width: 480px){

  a#navicon{
    display: block;
  }

  a#navicon::after{
    clear: both;
  }

  .navigation ul{
    display: none;
  }

  a#navicon:hover+ul, .navigation ul:hover{
    display: block;
  }

  .github{
    -webkit-order: 99;
    -moz-box-order: 99;
    order: 99;
  }

  .education th, .education td{
    font-size: 1.2em;
  }

}

/*
=====================================
  DESKTOP STYLES (min-width: 481px)
=====================================
*/

@media only screen and (min-width: 481px){

  a#navicon{
    display: none;
  }

  .navigation{
    display: block;
    text-align: center;
    margin: auto;
  }

  .navigation a{
    float: right;
    text-decoration: none;
    background-color: rgb(114, 126, 145);
  }

  .navigation a:hover, .navigation:active{
    background-color: pink;
    transition: .3s;
  }

  a#home{
    font-size: 1.5em;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
  }

  .introduction{
    font-size: 1.5em;
    padding-top: 2%;
  }
}
